@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$verde;

    @include m.tablet {
        &.fijo {
            position: fixed;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #666;
        }
    }

    h1 {
        color: v.$blanco;
        text-align: center;
        @include m.tablet {
            margin: 0; //quita el espacio hacia abajo que trae el header por defecto
        }
    }
    .contenido-header {
        padding: 2rem;
        @include m.tablet {
            display: flex; //ubica horizontalmente
            justify-content: space-between; //agrega espacio entre ambos elementos
            align-items: center;
        }
    }
}

.navegacion-principal {
    @include m.tablet {
        display: flex; //ubica las palabras line up, galeria y boletos de manera horizontal
        gap: 2rem; //agrega espacio entre las 3 palabras
    }
    a {
        display: block; //ubica verticalmente
        text-align: center;
        margin-bottom: 1rem;
        color: v.$blanco;
        font-size: 2.4rem;
        @include m.tablet {
            margin: 0;
        }

        &:hover { //& elimina el espacio al compilar xq el codigo funciona unido a:hover
            color: v.$amarillo;
        }
    }
}

/* .prueba {
    @include m.heading(v.$amarillo, true);
} */
